<div class="heatmap">
    <div class="container"></div>
    <table>
        <tr>
            <th (click)="onSort()">Название</th>
            <th (click)="onSort('value')">Количество</th>
        </tr>

        <tr [attr.id]="'row_' + item.id" *ngFor="let item of _data">
            <td>{{ item.title }}</td>
            <td>
                <div class="item">
                    <div class="value">
                        {{ item.value }}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
