.heatmap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 559px;

    .container {
        display: flex;
        align-items: stretch;
        width: 100%;

        svg {
            width: 100%;
        }
    }
}

table {
    min-width: 280px;
    border-spacing: 0 8px;

    th {
        cursor: pointer;
    }

    td {
        &:last-child {
            .item {
                width: 140px;
            }
        }
    }
}
